@media screen and (min-width: 1940px) {
    .header__logo {
        margin: auto;
    }
    .card-block {
        max-width: 1400px;
    }
}

@media screen and (max-width: 1370px) {
    .card-block {
        max-width: 90%;
    }
}

@media screen and (max-width: 1210px) {
    .card {
        &__wrap {
            max-width: 270px;
        }
        &__text {
            top: 10%;
            left: 20%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        &__logo {
            margin: auto;
        }
    }
    .firstScreen {
        &__text {
            max-width: 80%;
        }
    }
    .plan {
        margin: 20px auto 0;
        &_popular {
            margin: 60px auto 0;
        }
        &-group {
            flex-direction: column;
        }
    }
    .secondScreen {
        margin: 40px 0 40px;
        height: auto;
    }
}
    
@media screen and (max-width: 920px) {
    .firstScreen {
        &__card-block {
            margin-top: 80px;
        }
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
        }
        &__container {
            padding: 30px 0 30px;
        }
    }
    .card {
        &-block {
            flex-direction: column;
            align-items: center;
        }
        &__wrap {
            max-width: 355px;
            margin-bottom: 50px;
        }
        &__text {
            top: 17%;
            left: 26%;
        }
    }
    .plan {
        margin: 40px auto 0;
        &_popular {
            margin: 80px auto 0;
        }
    }
    .secondScreen {
        margin: 0 0 40px;
    }
}

@media screen and (max-width: 426px) {
    .header {
        &__logo {
            margin-right: 0;
            max-width: 100px;
        }
    }
    .services {
        &__list {
            margin: 0 auto;
        }
        &__link {
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .firstScreen {
        &__title {
            font-size: 18px;
            margin-top: 16px;
        }
        &__container {
            padding: 30px 0 0;
        }
    }
    .card {
        &-block {
            margin: 60px 40px 0;
        }
    }
    .plan {
        margin: 20px auto 0;
        &_popular {
            margin: 60px auto 0;
            &::before {
                padding: 10px 80px 10px;
            }
        }
        &__content {
            padding: 14px 60px 12px 30px;
        }
        &__price {
            font-size: 40px;
            line-height: 40px;
        }
        &__name {
            font-size: 16px;
            line-height: 18px;
        }
        &__btn {
            width: 100%;
        }
        &__list li {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 320px) { 
    .services__list {
        font-size: 10px;
    }
    .card__text {
        top: 6%;
        left: 16%;
    }
    .firstScreen__text {
        max-width: 80%;
    }
}   